<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ke.co.locaden">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Locaden">
        <service android:name=".shoppingcart.views.MyJobService"
            android:exported="true"
            android:label="My Job Service"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <activity android:name=".shoppingcart.views.ContentProvider"/>
        <activity android:name=".shoppingcart.views.ForgotPass" />
        <activity android:name=".shoppingcart.views.UserLogged" />
        <activity android:name=".shoppingcart.views.UserRegister" />
        <activity android:name=".shoppingcart.views.SignedInWith" />
        <activity android:name=".shoppingcart.views.LoginActivity" />
        <activity
            android:name=".shoppingcart.views.ShopActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity android:name=".shoppingcart.views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".shoppingcart.views.AvaillableCarsProvider"
            android:authorities="cars"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>